<div class="container">
    <div class="row">
        <div class="col-6 alert alert-info text-center">
            <p class="text-center text-info"><em>Gráfico de Barras divergente donde se puede comparar las características del usuario con el curso, cada barra representa un característica.</em> <br>
            </p>
            <h4><a href="https://bl.ocks.org/bricedev/f80fdbc2c03dbc1ae4e8">Ejemplo del Gráfico</a></h4>

        </div>
        <div class="col-6">
            <h2>Tabla de Clasificaciones</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Lugar</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Usuario</th>
                        <th scope="col" class="text-right">Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="align-middle">1</th>
                        <td><img src="{{{wolf}}}" alt="Búho" class="img-fluid w-50"></td>
                        <td class="align-middle">Usuario 1</td>
                        <th class="align-middle text-right">15050</th>
                    </tr>
                    <tr>
                        <th class="align-middle">2</th>
                        <td><img src="{{{owl}}}" alt="Búho" class="img-fluid w-50"></td>
                        <td class="align-middle">Usuario 2</td>
                        <th class="align-middle text-right">13900</th>
                        </tr>
                    <tr>
                        <th class="align-middle">3</th>
                        <td><img src="{{{lion}}}" alt="Búho" class="img-fluid w-50"></td>
                        <td class="align-middle">Usuario 3</td>
                        <th class="align-middle text-right">12900</th>
                    </tr>
                    
                    <tr>
                        <th class="align-middle">4</th>
                        <td><img src="{{{eagle}}}" alt="Búho" class="img-fluid w-50"></td>
                        <td class="align-middle">Usuario 4</td>
                        <th class="align-middle text-right">11900</th>
                    </tr>
                    <tr>
                        <th class="align-middle">5</th>
                        <td><img src="{{{koala}}}" alt="Búho" class="img-fluid w-50"></td>
                        <td class="align-middle">Usuario 5</td>
                        <th class="align-middle text-right">10900</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>Demografía del Curso</h2>
        <div class="container-fluid mt-3">
            <div class="row mb-4">
                <div class="col-1"><img src="{{{wolf}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{wolf}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{wolf}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{wolf}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{wolf}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{wolf}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{wolf}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{lion}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{lion}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{lion}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{lion}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{lion}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
            </div>
            <div class="row mb-4">
                <div class="col-1"><img src="{{{lion}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{lion}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{owl}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{owl}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{owl}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{owl}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{owl}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{owl}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{eagle}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{eagle}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{eagle}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{eagle}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-1"><img src="{{{eagle}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{koala}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{koala}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{koala}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{koala}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
                <div class="col-1"><img src="{{{koala}}}" alt="Búho" class="img-fluid" height="42" width="42"></div>
            </div>
        </div>
    </div>
</div>