<div class="container">
    <div class="row">
        <div class="col-7">
            <h2>Roles</h2>
            <br>
            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="owl-tab" data-toggle="tab" href="#owl" role="tab" aria-controls="owl" aria-selected="true"><img src="{{{owl}}}" alt="Búho" height="50" width="50"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="lion-tab" data-toggle="tab" href="#lion" role="tab" aria-controls="lion" aria-selected="false"><img src="{{{lion}}}" alt="León" height="50" width="50"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="wolf-tab" data-toggle="tab" href="#wolf" role="tab" aria-controls="wolf" aria-selected="false"><img src="{{{wolf}}}" alt="Lobo" height="50" width="50"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="eagle-tab" data-toggle="tab" href="#eagle" role="tab" aria-controls="eagle" aria-selected="false"><img src="{{{eagle}}}" alt="Aguila" height="50" width="50"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="koala-tab" data-toggle="tab" href="#koala" role="tab" aria-controls="koala" aria-selected="false"><img src="{{{koala}}}" alt="Koala" height="50" width="50"></a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="owl" role="tabpanel" aria-labelledby="owl-tab">
                    <h3 class="mt-3">Búho</h3>
                    <div class="row">
                        <div class="col-8">
                            <p class="text-justify">{{information_owl}}</p>
                        </div>
                        <div class="col-4 alert alert-info mt-3 text-center">
                            <p class="text-center text-info"><em>Gráfico Radar donde cada eje indica una de las características del rol.</em> <br>
                            </p>
                            <h4><a href="https://www.visualcinnamon.com/2015/10/different-look-d3-radar-chart">Ejemplo del Gráfico</a></h4>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="lion" role="tabpanel" aria-labelledby="lion-tab">
                    <h3 class="mt-3">León</h3>
                    <div class="row">
                        <div class="col-8">
                            <p class="text-justify">{{information_lion}}</p>
                        </div>
                        <div class="col-4 alert alert-info mt-3 text-center">
                            <p class="text-center text-info"><em>Gráfico Radar donde cada eje indica una de las características del rol.</em> <br>
                            </p>
                            <h4><a href="https://www.visualcinnamon.com/2015/10/different-look-d3-radar-chart">Ejemplo del Gráfico</a></h4>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="wolf" role="tabpanel" aria-labelledby="wolf-tab">
                    <h3 class="mt-3">Lobo</h3>
                    <div class="row">
                        <div class="col-8">
                            <p class="text-justify">{{information_wolf}}</p>
                        </div>
                        <div class="col-4 alert alert-info mt-3 text-center">
                            <p class="text-center text-info"><em>Gráfico Radar donde cada eje indica una de las características del rol.</em> <br>
                            </p>
                            <h4><a href="https://www.visualcinnamon.com/2015/10/different-look-d3-radar-chart">Ejemplo del Gráfico</a></h4>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="eagle" role="tabpanel" aria-labelledby="eagle-tab">
                    <h3 class="mt-3">Águila</h3>
                    <div class="row">
                        <div class="col-8">
                            <p class="text-justify">{{information_eagle}}</p>
                        </div>
                        <div class="col-4 alert alert-info mt-3 text-center">
                            <p class="text-center text-info"><em>Gráfico Radar donde cada eje indica una de las características del rol.</em> <br>
                            </p>
                            <h4><a href="https://www.visualcinnamon.com/2015/10/different-look-d3-radar-chart">Ejemplo del Gráfico</a></h4>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="koala" role="tabpanel" aria-labelledby="koala-tab">
                    <h3 class="mt-3">Koala</h3>
                    <div class="row">
                        <div class="col-8">
                            <p class="text-justify">{{information_koala}}</p>
                        </div>
                        <div class="col-4 alert alert-info mt-3 text-center">
                            <p class="text-center text-info"><em>Gráfico Radar donde cada eje indica una de las características del rol.</em> <br>
                            </p>
                            <h4><a href="https://www.visualcinnamon.com/2015/10/different-look-d3-radar-chart">Ejemplo del Gráfico</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h2>Logros</h2>
            <table class="table mt-3">
                <tbody>
                    <tr>
                        <td>Logro 1</td>
                        <td><i class="text-primary fa fa-star-half-o"></i></td>
                        <td>Condición 1</td>
                        <td><i class="text-primary fa fa-star"></i></td>
                        <td>Condición 2</td>
                    </tr>
                    <tr>
                        <td>Logro 2</td>
                        <td><i class="text-success fa fa-star-half-o"></i></td>
                        <td>Condición 1</td>
                        <td><i class="text-success fa fa-star"></i></td>
                        <td>Condición 2</td>
                    </tr>
                    <tr>
                        <td>Logro 3</td>
                        <td><i class="text-danger fa fa-star-half-o"></i></td>
                        <td>Condición 1</td>
                        <td><i class="text-danger fa fa-star"></i></td>
                        <td>Condición 2</td>
                    </tr>
                    <tr>
                        <td>Logro 4</td>
                        <td><i class="text-warning fa fa-star-half-o"></i></td>
                        <td>Condición 1</td>
                        <td><i class="text-warning fa fa-star"></i></td>
                        <td>Condición 2</td>
                    </tr>
                    <tr>
                        <td>Logro 5</td>
                        <td><i class="text-info fa fa-star-half-o"></i></td>
                        <td>Condición 1</td>
                        <td><i class="text-info fa fa-star"></i></td>
                        <td>Condición 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4 offset-md-1">
            <h2>Niveles</h2>
            <table class="table">
                <tbody> 
                    <tr>
                        <th><img src="{{{rank1}}}" alt="Nivel 1" height="40" width="40"></th>
                        <th class="align-middle">Nivel 1</th>
                        <th  class="text-right align-middle">100 Puntos</th>
                    </tr>
                    <tr>
                        <th><img src="{{{rank2}}}" alt="Búho" height="40" width="40"></th>
                        <th class="align-middle">Nivel 2</th>
                        <th  class="text-right align-middle">200 Puntos</th>
                    </tr>
                    <tr>
                        <th><img src="{{{rank3}}}" alt="Búho" height="40" width="40"></th>
                        <th class="align-middle">Nivel 3</th>
                        <th  class="text-right align-middle">400 Puntos</th>
                    </tr>
                    <tr>
                        <th><img src="{{{rank4}}}" alt="Búho" height="40" width="40"></th>
                        <th class="align-middle">Nivel 4</th>
                        <th  class="text-right align-middle">700 Puntos</th>
                    </tr>
                    <tr>
                        <th><img src="{{{rank5}}}" alt="Búho" height="40" width="40"></th>
                        <th class="align-middle">Nivel 5</th>
                        <th  class="text-right align-middle">1100 Puntos</th>
                    </tr>
                    <tr>
                        <th><img src="{{{rank6}}}" alt="Búho" height="40" width="40"></th>
                        <th class="align-middle">Nivel 6</th>
                        <th  class="text-right align-middle">1600 Puntos</th>
                    </tr>
                    <tr>
                        <th><img src="{{{rank7}}}" alt="Búho" height="40" width="40"></th>
                        <th class="align-middle">Nivel 7</th>
                        <th  class="text-right align-middle">2200 Puntos</th>
                    </tr>
                    <tr>
                        <th><img src="{{{rank8}}}" alt="Búho" height="40" width="40"></th>
                        <th class="align-middle">Nivel 8</th>
                        <th  class="text-right align-middle">2900 Puntos</th>
                    </tr>
                    <tr>
                        <th><img src="{{{rank9}}}" alt="Búho" height="40" width="40"></th>
                        <th class="align-middle">Nivel 9</th>
                        <th  class="text-right align-middle">3700 Puntos</th>
                    </tr>
                    <tr>
                        <th><img src="{{{rank10}}}" alt="Búho" height="40" width="40"></th>
                        <th class="align-middle">Nivel 10</th>
                        <th  class="text-right align-middle">4600  Puntos</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
