<div class="container">
    <!-- <h1>{{titulo}}</h1> -->
    <!-- <hr> -->
    <!-- <div class="alert alert-primary text-center">
        <p id="demo"></p>
    </div> -->
    <div class="row">
        <div class="col-2">
                <img src="{{{logo}}}" alt="Búho" class="img-fluid">
        </div>
        <div class="col-8">
            <h2>{{rol}}</h2>
            <hr>
            <p>Búho es el nombre común de aves de la familia Strigidae, del orden de los estrigiformes o aves rapaces nocturnas. Habitualmente designa especies que, a diferencia de las lechuzas, tienen plumas alzadas que parecen orejas (sus verdaderas orejas se encuentran al costado de la cabeza, a los laterales de los ojos) y presentan una coloración amarilla o naranja en el iris. Debido a que sus ojos carecen de movilidad y solo pueden ver hacia delante, pueden girar la cabeza 270°.
            </p>
        </div>
        <div class="col-2 text-right">
            <h3>{{puntaje_text}}</h3>
            <h1 class="display-5"><strong>{{puntaje_value}}</strong></h1>
        </div>
    </div>

</div>